*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    text-decoration-color: #ffffff;
  }
.kotak{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-position: center;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kotak2{
    width: 100%;
    height: 100vh;
    background-image: url(background2.jpg);
    background-position: center;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kotak3{
    width: 100%;
    height: 100vh;
    background-image: url(background3.webp);
    background-position: center;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 80px;
    align-items: center;
    grid-gap: 30px;
    list-style: none;
}
.section1{
    position: relative;
    height: 300px;
}
.muka{
    position: absolute;
    top: 50%;
    left: 34%; 
    transform: translate(-50%, -50%); 
    align-items: left;

}
.profil{
    border-radius: 50%;
    width: 150px;
    height: auto;
    background-color: #3498db; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}
.muka h2{
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
}
.riwayat{
    margin-left:1em ;
    padding-bottom: 1em;
}

.grid > article{
    box-shadow: 10px 5px 5px 0px black;
    border-radius: 30px;
    background-color: whitesmoke;
    width: 300px;
    transition: transform;
    margin-left: 20px;
}
.grid > section{
    box-shadow: 10px 5px 5px 0px black;
    border-radius: 30px;
    background-color: whitesmoke;
    width: 300px;
    transition: transform;
    margin-left: 20px;
}


.tombol-sosmed a {
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    width: 60px;
    height: 60px;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 8px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .tombol-sosmed a::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background: linear-gradient(45deg, #3498db, #16a085);
    border-radius: 30%;
    z-index: -1;
    transition: 0.3s ease-in;
  }
  
  
  .tombol-sosmed a:hover::before {
    transform: scale(0);
  }
  
  .tombol-sosmed a i {
    transition: 0.3s ease-in;
  }
  
  .tombol-sosmed a:hover i {
    background: linear-gradient(45deg, #3498db, #16a085);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }